body,
html {
  margin: 0px;
}

#menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 90px;
  height: 100%;

  position: fixed;
  top: 0%;
  bottom: 0%;
}

.about .one {
  display: block;
  color: rgb(8, 8, 8);
  padding: 25px 10px;
  text-decoration: none;
}

#active {
  border-bottom: 2px solid rgba(153, 153, 153, 0.027);
  border-top: 2px solid rgba(153, 153, 153, 0.027);
  background-color: rgba(124, 124, 124, 0.1);
}

.about .one:hover:not(#active) {
  /* background-color: rgb(124, 124, 124); */
  color: rgb(167, 11, 11);
}

@media screen and (max-width: 600px) {
  #menu {
    width: 65px;
  }

  .about .one {
    padding: 25px 5px;
  }
}

/* μεχρι εδω σε καθε css */

.header {
  text-align: center;
  padding: 32px;
}

.image {
  margin-left: 6em;
  opacity: 1;
  display: block;
  width: 70%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.container:hover .image {
  opacity: 0.9;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(65, 65, 65, 0.37);
  color: rgb(236, 233, 233);
  text-align: center;
  font-size: 16px;
  margin-left: 13em;
  width: 20%;
}

@media (max-width: 400px) {
  .container {
    font-family: "Dank Mono", Consolas, monospace;
  }

  .image {
    margin-left: 6em;
    opacity: 1;
    display: block;
    width: 70%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.9;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: rgba(65, 65, 65, 0.37);
    color: rgb(236, 233, 233);
    font-size: 12px;
    margin-left: 23em;
  }
}
